{{/*
# SPDX-FileCopyrightText: 2020 Anubhav Choudhary
# SPDX-FileCopyrightText: 2020 Nikunj Goyal
# SPDX-License-Identifier: CC-BY-SA-4.0
*/}}

{{ define "head-import" }}
{{ $common := resources.Get "scss/home.scss" }}
{{ $custom := resources.Get "scss/main.scss" }}
{{ $style := slice $common $custom | resources.Concat "scss/bundle.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "main" }}
{{- $pages := where (where .Site.RegularPages "Section" "editions") "Params.description" "!=" "" }}
{{- if ne .Site .Sites.First }}
  {{- $firstPages := where (where .Sites.First.RegularPages "Section" "editions") "Params.description" "!=" "" }}
  {{- $pages = $pages | lang.Merge $firstPages }}
{{- end }}
{{- $editions := sort $pages }}

<section id="kHeader" style="background-image:url(/assets/img/home-blur.jpg)" class="carousel slide overlay mb-0" data-bs-ride="carousel">
  <div class="carousel-inner mb-0" role="listbox">
    {{ range $idx, $val := $editions }}
    {{ with .Params.screenshot }}
    <article class="carousel-item dark-text{{ if eq $idx 0 }} active{{ end }}">
      <div class="carousel-item-content">
        <div class="slide-background" style="background-image: url({{ $val.Params.screenshot }})"></div>
        <div class="carousel-text-overlay">
          <h1 class="text-white fs-3">{{ $val.Title }}</h1>
          <p>{{ $val.Params.shortDescription }}</p>
        </div>
      </div>
    {{ end }}
    </article>
    {{ end }}
  </div>

  <ol class="carousel-indicators">
    {{ range $idx, $val := $editions }}
    {{ with .Params.screenshot }}
    <li data-bs-target="#kHeader" data-bs-slide-to="{{ $idx }}"{{ if eq $idx 0 }} class="active"{{ end }}></li>
    {{ end }}
    {{ end }}
  </ol>
</section>


<section class="section-blue">
    <div class="row">
        <div class="col justify-content-center mx-3">
            <h3>{{ i18n "home.about.heading" }}</h3>
            <p class="text-justify">{{ i18n "home.about.text" }}</p>
            <a href="{{ i18n "home.about" }}" class="learn-more btn btn-primary my-2">{{ i18n "home.readmore" }}</a>
        </div>
        <div class="col justify-content-center mx-3">
            <h3>{{ i18n "home.contribute.heading" }}</h3>
            <p class="text-justify">{{ i18n "home.contribute.text" }}</p>
            <a href="https://www.kde.org/get-involved" class="learn-more btn btn-primary my-2">{{ i18n "home.readmore" }}</a>
        </div>
        <div class="col justify-content-center mx-3">
            <h3>{{ i18n "home.contact.heading" }}</h3>
            <p class="text-justify">{{ i18n "home.contact.text" }}</p>
            <a href="{{ i18n "home.contact" }}" class="learn-more btn btn-primary my-2">{{ i18n "home.readmore" }}</a>
    </div>
</div>
</section>

{{ end }}
